In [1]:
import pandas as pd
import numpy as np
from dateutil import parser
from datetime import datetime

In [2]:
flies_outputs_filename = "calval_final_50_PTJPL_inputs.csv"
flies_outputs = pd.read_csv(flies_outputs_filename)
flies_outputs.tower = flies_outputs.tower.apply(lambda x: str(x))
flies_outputs.time_UTC = flies_outputs.time_UTC_Y
flies_outputs = flies_outputs[flies_outputs.time_UTC.apply(lambda x: str(x) != "nan")]
flies_outputs.time_UTC = flies_outputs.time_UTC.apply(lambda x: str(datetime.strftime(parser.parse(str(x)), "%Y-%m-%d %H:%M:%S")))
flies_outputs

,Unnamed: 0.1,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,doy,...,VISdiff,NIRdiff,VISdir,NIRdir,SWout,LWin,LWout,hour_of_day,Topt,fAPARmax
0,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.000000,0.000000,0.000000,0.000000,0.000000,223.482510,310.837408,19,0.0,0.5545
1,1,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 11:54:00,2020-04-20,111,...,0.000000,0.000000,0.000000,0.000000,0.000000,249.470817,483.042043,19,0.0,0.5545
2,2,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 12:53:00,2020-05-03,124,...,0.000000,0.000000,0.000000,0.000000,0.000000,293.358154,368.124775,19,0.0,0.5545
3,3,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 22:33:00,2020-05-24,145,...,3.627162,3.519072,0.337294,0.020315,0.662989,NaN,385.565499,19,0.0,0.5545
4,4,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 18:47:00,2020-06-18,170,...,7.418505,8.696527,1.935220,0.123967,2.254700,380.029433,454.438012,19,0.0,0.5545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,247,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 23:08:00,2020-08-11,224,...,14.372975,12.682295,3.003822,0.000000,5.351180,414.848071,439.377199,17,5.8,0.4664
248,248,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14 21:57:00,2021-06-14,165,...,32.456092,15.308895,93.412739,127.317082,27.991697,NaN,405.251251,17,5.8,0.4664
249,249,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 11:33:00,2021-06-23,174,...,38.645010,27.577193,80.881654,98.257540,28.021802,NaN,388.004691,17,5.8,0.4664
250,250,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 18:03:00,2021-06-23,174,...,38.645010,27.577193,80.881654,98.257540,28.021802,400.532814,463.095778,17,5.8,0.4664
251,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,2.846623,2.261136,0.267030,0.001731,0.797800,NaN,339.018157,18,0.0,0.4592

In [3]:
fluxnet_filename = "fluxnet.csv"
fluxnet = pd.read_csv(fluxnet_filename)
fluxnet.tower = fluxnet.tower.apply(lambda x: str(x))
fluxnet = fluxnet[fluxnet.time_UTC.apply(lambda x: str(x) != "nan")]
fluxnet["date_UTC"] = fluxnet.time_UTC.apply(lambda x: str(datetime.strftime(parser.parse(str(x)), "%Y-%m-%d")))
fluxnet.time_UTC = fluxnet.time_UTC.apply(lambda x: str(datetime.strftime(parser.parse(str(x)), "%Y-%m-%d %H:%M:%S")))
fluxnet

,tower,time_UTC,LE_insitu,H_insitu,Rn_insitu,G_insitu,date_UTC
0,US-Mpj,2019-01-31 21:30:00,49.112170,267.853550,401.65894,NaN,2019-01-31
1,US-Mpj,2019-02-18 22:30:00,20.038459,275.753510,380.90508,NaN,2019-02-18
2,US-Mpj,2019-06-09 18:30:00,36.815964,461.634380,763.39380,NaN,2019-06-09
3,US-Mpj,2019-06-12 17:30:00,39.612234,448.457420,709.87839,NaN,2019-06-12
4,US-Mpj,2019-06-20 14:00:00,23.355958,67.809362,145.58896,NaN,2019-06-20
...,...,...,...,...,...,...,...
1289,PR-xGU,2021-07-29 17:30:00,NaN,NaN,746.82000,6.664000,2021-07-29
1290,PR-xGU,2021-08-06 14:30:00,NaN,NaN,673.79000,0.277333,2021-08-06
1291,PR-xGU,2021-08-14 21:30:00,NaN,NaN,32.52000,6.308667,2021-08-14
1292,PR-xGU,2021-10-01 16:30:00,176.169541,257.078473,790.79000,2.562000,2021-10-01
1293,PR-xGU,2021-10-09 13:30:00,90.839505,160.476287,491.34000,-4.733667,2021-10-09

In [4]:
merged_df = pd.merge(flies_outputs, fluxnet, on=["tower", "date_UTC"], how="left")
merged_df

,Unnamed: 0.1,tower,lat,lon,orbit,scene,tile,time_UTC_x,date_UTC,doy,...,LWin,LWout,hour_of_day,Topt,fAPARmax,time_UTC_y,LE_insitu,H_insitu,Rn_insitu,G_insitu
0,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,223.482510,310.837408,19,0.0,0.5545,2020-02-22 17:00:00,23.770000,NaN,NaN,NaN
1,1,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 11:54:00,2020-04-20,111,...,249.470817,483.042043,19,0.0,0.5545,2020-04-20 12:00:00,37.980000,100.200000,128.80,NaN
2,2,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 12:53:00,2020-05-03,124,...,293.358154,368.124775,19,0.0,0.5545,2020-05-03 13:00:00,68.060000,152.300000,261.30,NaN
3,3,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 22:33:00,2020-05-24,145,...,NaN,385.565499,19,0.0,0.5545,NaN,NaN,NaN,NaN,NaN
4,4,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 18:47:00,2020-06-18,170,...,380.029433,454.438012,19,0.0,0.5545,2020-06-18 19:00:00,122.200000,292.500000,657.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,247,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 23:08:00,2020-08-11,224,...,414.848071,439.377199,17,5.8,0.4664,2020-08-11 23:00:00,131.783751,6.519267,279.97,14.633
308,248,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14 21:57:00,2021-06-14,165,...,NaN,405.251251,17,5.8,0.4664,NaN,NaN,NaN,NaN,NaN
309,249,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 11:33:00,2021-06-23,174,...,NaN,388.004691,17,5.8,0.4664,2021-06-23 18:00:00,237.726708,187.862743,764.71,16.236
310,250,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 18:03:00,2021-06-23,174,...,400.532814,463.095778,17,5.8,0.4664,2021-06-23 18:00:00,237.726708,187.862743,764.71,16.236
311,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,NaN,339.018157,18,0.0,0.4592,NaN,NaN,NaN,NaN,NaN

In [5]:
radiation_df = pd.read_csv("radiation.csv")

radiation_df = radiation_df.rename(columns={
    "SWin": "SWin_insitu",
    "SWout": "SWout_insitu",
    "LWin": "LWin_insitu",
    "LWout": "LWout_insitu"
})

radiation_df

,tower,doy,hour_of_day,SWin_insitu,SWout_insitu,LWin_insitu,LWout_insitu
0,CA-Cbo,153,15,170.7700,NaN,NaN,NaN
1,CA-Cbo,153,16,136.8100,NaN,NaN,NaN
2,CA-Cbo,153,16,36.0420,NaN,NaN,NaN
3,CA-Cbo,153,17,8.4942,NaN,NaN,NaN
4,CA-Cbo,153,17,1.5829,NaN,NaN,NaN
...,...,...,...,...,...,...,...
6058814,US-xYE,120,14,841.1000,92.55,298.8,451.2
6058815,US-xYE,120,15,730.4500,80.81,302.0,444.2
6058816,US-xYE,120,15,690.2100,76.38,304.7,441.5
6058817,US-xYE,120,16,578.4300,64.15,300.2,433.0
6058818,US-xYE,120,16,355.5900,38.66,304.3,422.2

In [6]:
merged_df = pd.merge(merged_df, radiation_df, on=["tower", "doy", "hour_of_day"], how="left")
merged_df

,Unnamed: 0.1,tower,lat,lon,orbit,scene,tile,time_UTC_x,date_UTC,doy,...,fAPARmax,time_UTC_y,LE_insitu,H_insitu,Rn_insitu,G_insitu,SWin_insitu,SWout_insitu,LWin_insitu,LWout_insitu
0,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.5545,2020-02-22 17:00:00,23.77,NaN,NaN,NaN,-1.68,0.758,266.0,307.0
1,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.5545,2020-02-22 17:00:00,23.77,NaN,NaN,NaN,-2.13,0.565,259.0,306.0
2,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.5545,2020-02-22 17:00:00,23.77,NaN,NaN,NaN,-4.69,1.190,206.0,306.0
3,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.5545,2020-02-22 17:00:00,23.77,NaN,NaN,NaN,-4.80,1.230,201.0,305.0
4,0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:00,2020-02-22,53,...,0.5545,2020-02-22 17:00:00,23.77,NaN,NaN,NaN,-3.83,0.820,271.0,348.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,0.4592,NaN,NaN,NaN,NaN,NaN,0.90,0.520,386.3,386.1
2658,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,0.4592,NaN,NaN,NaN,NaN,NaN,26.21,4.050,293.7,386.7
2659,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,0.4592,NaN,NaN,NaN,NaN,NaN,3.90,0.720,290.5,382.0
2660,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,0.4592,NaN,NaN,NaN,NaN,NaN,12.70,2.620,364.8,380.1
2661,251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:00,2020-09-04,248,...,0.4592,NaN,NaN,NaN,NaN,NaN,2.90,1.460,331.6,370.5

In [7]:
merged_df.columns

Index(['Unnamed: 0.1', 'tower', 'lat', 'lon', 'orbit', 'scene', 'tile',
       'time_UTC_x', 'date_UTC', 'doy', 'time_solar', 'AOT', 'COT',
       'vapor_gccm', 'ozone_cm', 'SZA', 'KG', 'Unnamed: 0', 'lat_Y', 'lon_Y',
       'orbit_Y', 'scene_Y', 'tile_Y', 'time_UTC_Y', 'time_solar_Y',
       'BESSinst', 'ESI', 'ESIdaily', 'ESIdailyUncertainty', 'ETdaily',
       'ETdailyUncertainty', 'ETinstUncertainty', 'EmisWB', 'GPP', 'LST',
       'LST_err', 'MOD16inst', 'NDVI-UQ', 'PET', 'PTJPLSMcanopy',
       'PTJPLSMinst', 'PTJPLSMinterception', 'PTJPLSMsoil', 'RH', 'Rg', 'Rn',
       'SM', 'STICcanopy', 'STICinst', 'Ta', 'WUE', 'albedo-UQ', 'height',
       'radiance_1', 'radiance_2', 'radiance_3', 'radiance_4', 'radiance_5',
       'view_zenith', 'year', 'Ta_C', 'ST_K', 'NDVI', 'albedo', 'ST_C',
       'elevation_km', 'Ra', 'UV', 'VIS', 'NIR', 'VISdiff', 'NIRdiff',
       'VISdir', 'NIRdir', 'SWout', 'LWin', 'LWout', 'hour_of_day', 'Topt',
       'fAPARmax', 'time_UTC_y', 'LE_insitu', 'H_insitu', 'Rn_insitu',
       'G_insitu', 'SWin_insitu', 'SWout_insitu', 'LWin_insitu',
       'LWout_insitu'],
      dtype='object')

In [8]:
if "Ta" in merged_df and "Ta_C" not in merged_df:
    # input_df.rename({"Ta": "Ta_C"}, inplace=True)
    merged_df["Ta_C"] = merged_df["Ta"]

merged_df = merged_df[merged_df.fAPARmax.apply(lambda fAPARmax: fAPARmax > 0.001)]
merged_df = merged_df[merged_df.NDVI.apply(lambda NDVI: NDVI > 0.05)]
merged_df.columns

Index(['Unnamed: 0.1', 'tower', 'lat', 'lon', 'orbit', 'scene', 'tile',
       'time_UTC_x', 'date_UTC', 'doy', 'time_solar', 'AOT', 'COT',
       'vapor_gccm', 'ozone_cm', 'SZA', 'KG', 'Unnamed: 0', 'lat_Y', 'lon_Y',
       'orbit_Y', 'scene_Y', 'tile_Y', 'time_UTC_Y', 'time_solar_Y',
       'BESSinst', 'ESI', 'ESIdaily', 'ESIdailyUncertainty', 'ETdaily',
       'ETdailyUncertainty', 'ETinstUncertainty', 'EmisWB', 'GPP', 'LST',
       'LST_err', 'MOD16inst', 'NDVI-UQ', 'PET', 'PTJPLSMcanopy',
       'PTJPLSMinst', 'PTJPLSMinterception', 'PTJPLSMsoil', 'RH', 'Rg', 'Rn',
       'SM', 'STICcanopy', 'STICinst', 'Ta', 'WUE', 'albedo-UQ', 'height',
       'radiance_1', 'radiance_2', 'radiance_3', 'radiance_4', 'radiance_5',
       'view_zenith', 'year', 'Ta_C', 'ST_K', 'NDVI', 'albedo', 'ST_C',
       'elevation_km', 'Ra', 'UV', 'VIS', 'NIR', 'VISdiff', 'NIRdiff',
       'VISdir', 'NIRdir', 'SWout', 'LWin', 'LWout', 'hour_of_day', 'Topt',
       'fAPARmax', 'time_UTC_y', 'LE_insitu', 'H_insitu', 'Rn_insitu',
       'G_insitu', 'SWin_insitu', 'SWout_insitu', 'LWin_insitu',
       'LWout_insitu'],
      dtype='object')

In [9]:
if "time_UTC" not in merged_df and "time_UTC_Y" in merged_df:   
    merged_df.time_UTC = merged_df.time_UTC_Y

columns = list(merged_df.columns)
columns = [column for column in columns if not column.endswith("_x")]
columns = [column for column in columns if not column.endswith("_X")]
columns = [column for column in columns if not column.endswith("_y")]
columns = [column for column in columns if not column.endswith("_Y")]
columns = [column for column in columns if not column.startswith("Unnamed")]
columns

/var/folders/hk/35_x93nx79vg1zmd2fy1vcbr0000gq/T/ipykernel_65061/2777977200.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  merged_df.time_UTC = merged_df.time_UTC_Y

['tower',
 'lat',
 'lon',
 'orbit',
 'scene',
 'tile',
 'date_UTC',
 'doy',
 'time_solar',
 'AOT',
 'COT',
 'vapor_gccm',
 'ozone_cm',
 'SZA',
 'KG',
 'BESSinst',
 'ESI',
 'ESIdaily',
 'ESIdailyUncertainty',
 'ETdaily',
 'ETdailyUncertainty',
 'ETinstUncertainty',
 'EmisWB',
 'GPP',
 'LST',
 'LST_err',
 'MOD16inst',
 'NDVI-UQ',
 'PET',
 'PTJPLSMcanopy',
 'PTJPLSMinst',
 'PTJPLSMinterception',
 'PTJPLSMsoil',
 'RH',
 'Rg',
 'Rn',
 'SM',
 'STICcanopy',
 'STICinst',
 'Ta',
 'WUE',
 'albedo-UQ',
 'height',
 'radiance_1',
 'radiance_2',
 'radiance_3',
 'radiance_4',
 'radiance_5',
 'view_zenith',
 'year',
 'Ta_C',
 'ST_K',
 'NDVI',
 'albedo',
 'ST_C',
 'elevation_km',
 'Ra',
 'UV',
 'VIS',
 'NIR',
 'VISdiff',
 'NIRdiff',
 'VISdir',
 'NIRdir',
 'SWout',
 'LWin',
 'LWout',
 'hour_of_day',
 'Topt',
 'fAPARmax',
 'LE_insitu',
 'H_insitu',
 'Rn_insitu',
 'G_insitu',
 'SWin_insitu',
 'SWout_insitu',
 'LWin_insitu',
 'LWout_insitu']

In [10]:
merged_df = merged_df[columns]
merged_df

,tower,lat,lon,orbit,scene,tile,date_UTC,doy,time_solar,AOT,...,Topt,fAPARmax,LE_insitu,H_insitu,Rn_insitu,G_insitu,SWin_insitu,SWout_insitu,LWin_insitu,LWout_insitu
0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.77,NaN,NaN,NaN,-1.68,0.758,266.0,307.0
1,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.77,NaN,NaN,NaN,-2.13,0.565,259.0,306.0
2,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.77,NaN,NaN,NaN,-4.69,1.190,206.0,306.0
3,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.77,NaN,NaN,NaN,-4.80,1.230,201.0,305.0
4,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.77,NaN,NaN,NaN,-3.83,0.820,271.0,348.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,0.90,0.520,386.3,386.1
2658,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,26.21,4.050,293.7,386.7
2659,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,3.90,0.720,290.5,382.0
2660,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,12.70,2.620,364.8,380.1
2661,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,2.90,1.460,331.6,370.5

In [13]:
merged_df = merged_df.drop_duplicates(subset=["tower", "date_UTC"])
merged_df

,tower,lat,lon,orbit,scene,tile,date_UTC,doy,time_solar,AOT,...,Topt,fAPARmax,LE_insitu,H_insitu,Rn_insitu,G_insitu,SWin_insitu,SWout_insitu,LWin_insitu,LWout_insitu
0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,...,0.0,0.5545,23.770000,NaN,NaN,NaN,-1.680,0.758,266.0,307.0
14,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20,111,2020-04-19 19:11:17.304,0.237342,...,0.0,0.5545,37.980000,100.200000,128.80,NaN,-4.610,2.300,257.0,354.0
28,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03,124,2020-05-02 19:11:17.304,0.107484,...,0.0,0.5545,68.060000,152.300000,261.30,NaN,-4.050,0.952,316.0,419.0
42,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24,145,2020-05-23 19:11:17.304,0.094339,...,0.0,0.5545,NaN,NaN,NaN,NaN,-0.525,0.463,381.0,425.0
56,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18,170,2020-06-17 19:11:17.304,0.050474,...,0.0,0.5545,122.200000,292.500000,657.60,NaN,10.000,2.320,310.0,408.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,US-xUK,39.0404,-95.1921,10994,7,15SUD,2020-06-13,165,2020-06-12 17:39:13.896,0.107889,...,5.8,0.4664,NaN,NaN,368.81,17.024,347.290,67.140,411.0,488.9
2618,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11,224,2020-08-10 17:39:13.896,0.143261,...,5.8,0.4664,131.783751,6.519267,279.97,14.633,347.330,59.370,363.0,440.6
2628,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14,165,2021-06-13 17:39:13.896,0.121046,...,5.8,0.4664,NaN,NaN,NaN,NaN,347.290,67.140,411.0,488.9
2636,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23,174,2021-06-22 17:39:13.896,0.109902,...,5.8,0.4664,237.726708,187.862743,764.71,16.236,385.650,67.010,387.0,466.6
2652,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,...,0.0,0.4592,NaN,NaN,NaN,NaN,21.800,4.360,282.2,359.4

In [12]:
merged_df.to_csv("inputs.csv", index=False)