In [4]:
import numpy as np
import pandas as pd

In [5]:
filename = "calval_final_50_by_column.csv"
df = pd.read_csv(filename)
df

,Unnamed: 0,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,...,STICinst,Ta,WUE,height,radiance_1,radiance_2,radiance_3,radiance_4,radiance_5,view_zenith
0,0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,679,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,2021-06-22 17:39:13.896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,680,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,681,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,685,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,686,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.Ta

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
417   NaN
418   NaN
419   NaN
420   NaN
421   NaN
Name: Ta, Length: 422, dtype: float64

In [7]:
np.all(np.isnan(df.Ta))

True