In [1]:
import pandas as pd

In [16]:
filename = "combined_eco_flux.csv"
df_source = pd.read_csv(filename)
df_source.head()

,Unnamed: 0,ID,vegetation,climate,STICinst,BESSinst,MOD16inst,PTJPLSMinst,ETinstUncertainty,PET,...,SM_surf,SM_rz,AirTempC,RH_percentage,ESIrn_STIC,ESIrn_PTJPLSM,ESIrn_MOD16,ESIrn_BESS,ESIrn_Unc_ECO,ESIrn_LEcorr50
0,0,US-Mpj,WSA,Bsk,155.32082,89.939920,176.13713,130.90187,34.245400,139.18092,...,NaN,NaN,8.42648,0.277324,0.574637,0.484295,0.651651,0.332749,0.126697,0.183884
1,1,US-Mpj,WSA,Bsk,87.53634,60.181705,163.10445,95.13900,37.883713,98.69218,...,NaN,NaN,-0.34672,0.519341,0.409661,0.445241,0.763313,0.281644,0.177292,0.081703
2,2,US-Mpj,WSA,Bsk,247.99138,83.443306,390.79315,265.31960,107.581190,418.26978,...,NaN,NaN,19.76348,0.420837,0.424050,0.453680,0.668232,0.142683,0.183957,0.066675
3,3,US-Mpj,WSA,Bsk,256.49597,148.880300,392.82825,240.86736,87.155360,405.12796,...,NaN,NaN,17.00474,0.405504,0.436172,0.409596,0.668006,0.253171,0.148208,0.076202
4,4,US-Mpj,WSA,Bsk,240.64056,76.144370,151.13704,81.61020,67.431244,152.59448,...,NaN,NaN,18.64274,0.188349,1.085669,0.368191,0.681867,0.343531,0.304222,0.225611

In [17]:
df_header = df_source[["ID", "time_utc"]]

df_header = df_header.rename(columns={
    "ID": "tower", 
    "time_utc": "time_UTC"
})

df_header

       tower             time_UTC
0     US-Mpj  2019-01-31 21:30:00
1     US-Mpj  2019-02-18 22:30:00
2     US-Mpj  2019-06-09 18:30:00
3     US-Mpj  2019-06-12 17:30:00
4     US-Mpj  2019-06-20 14:00:00
...      ...                  ...
1289  PR-xGU  2021-07-29 17:30:00
1290  PR-xGU  2021-08-06 14:30:00
1291  PR-xGU  2021-08-14 21:30:00
1292  PR-xGU  2021-10-01 16:30:00
1293  PR-xGU  2021-10-09 13:30:00

[1294 rows x 2 columns]

In [18]:
df_body = df_source[[column for column in df_source.columns if column.endswith("_filt")]]
df_body = df_body.rename(columns={
    "LE_filt": "LE_insitu",
    "H_filt": "H_insitu",
    "NETRAD_filt": "Rn_insitu",
    "G_filt": "G_insitu"
})

df_body

       LE_insitu    H_insitu  Rn_insitu  G_insitu
0      49.112170  267.853550  401.65894       NaN
1      20.038459  275.753510  380.90508       NaN
2      36.815964  461.634380  763.39380       NaN
3      39.612234  448.457420  709.87839       NaN
4      23.355958   67.809362  145.58896       NaN
...          ...         ...        ...       ...
1289         NaN         NaN  746.82000  6.664000
1290         NaN         NaN  673.79000  0.277333
1291         NaN         NaN   32.52000  6.308667
1292  176.169541  257.078473  790.79000  2.562000
1293   90.839505  160.476287  491.34000 -4.733667

[1294 rows x 4 columns]

In [19]:
df = pd.concat([df_header, df_body], axis=1)
df

       tower             time_UTC   LE_insitu    H_insitu  Rn_insitu  G_insitu
0     US-Mpj  2019-01-31 21:30:00   49.112170  267.853550  401.65894       NaN
1     US-Mpj  2019-02-18 22:30:00   20.038459  275.753510  380.90508       NaN
2     US-Mpj  2019-06-09 18:30:00   36.815964  461.634380  763.39380       NaN
3     US-Mpj  2019-06-12 17:30:00   39.612234  448.457420  709.87839       NaN
4     US-Mpj  2019-06-20 14:00:00   23.355958   67.809362  145.58896       NaN
...      ...                  ...         ...         ...        ...       ...
1289  PR-xGU  2021-07-29 17:30:00         NaN         NaN  746.82000  6.664000
1290  PR-xGU  2021-08-06 14:30:00         NaN         NaN  673.79000  0.277333
1291  PR-xGU  2021-08-14 21:30:00         NaN         NaN   32.52000  6.308667
1292  PR-xGU  2021-10-01 16:30:00  176.169541  257.078473  790.79000  2.562000
1293  PR-xGU  2021-10-09 13:30:00   90.839505  160.476287  491.34000 -4.733667

[1294 rows x 6 columns]

In [20]:
df.to_csv("fluxnet.csv", index=False)