In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta
from dateutil import parser

In [2]:
source_df = pd.read_csv("calval_final_50.csv")
source_df.drop(columns=["Unnamed: 0"], inplace=True)
source_df.insert(5, "date_UTC", source_df.time_UTC.apply(lambda time_UTC: parser.parse(str(time_UTC)).date()), allow_duplicates=True)
source_df.insert(6, "time_solar", source_df.apply(lambda row: parser.parse(str(row.time_UTC)) + timedelta(hours=(np.radians(row.lon) / np.pi * 12)), axis=1), allow_duplicates=True)
source_df = source_df[["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar", "product", "variable", "med3x3"]]
source_df

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,variable,med3x3
0,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_1,5.028204
1,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_2,5.390165
2,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_3,5.390238
3,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_4,6.068446
4,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_5,5.829097
...,...,...,...,...,...,...,...,...,...,...,...,...
68894,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L4T_WUE,GPP,2.777341
68895,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L4T_WUE,WUE,0.000000
68896,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,RH,0.957962
68897,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,Ta,-0.425873
68898,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_SM,SM,0.273294

In [3]:
source_df[source_df.variable == "Ta"]

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,variable,med3x3
38151,US-ONA,27.3836,-81.9509,3219,6,17RML,2019-01-29 20:15:41,2019-01-29,2019-01-29 14:47:52.784,L3T_MET,Ta,19.268005
38153,US-ONA,27.3836,-81.9509,3219,7,17RML,2019-01-29 20:16:33,2019-01-29,2019-01-29 14:48:44.784,L3T_MET,Ta,18.898642
38173,US-Mpj,34.4385,-106.2377,3251,4,13SCU,2019-01-31 21:43:42,2019-01-31,2019-01-31 14:38:44.952,L3T_MET,Ta,8.740243
38192,US-GLE,41.3665,-106.2399,3282,6,13TCF,2019-02-02 21:38:27,2019-02-02,2019-02-02 14:33:29.424,L3T_MET,Ta,0.863129
38211,US-GLE,41.3665,-106.2399,3389,6,13TCF,2019-02-09 18:52:06,2019-02-09,2019-02-09 11:47:08.424,L3T_MET,Ta,-2.147646
...,...,...,...,...,...,...,...,...,...,...,...,...
68853,PR-xLA,18.0212,-67.0769,19234,7,19QFV,2021-11-26 18:11:39,2021-11-26,2021-11-26 13:43:20.544,L3T_MET,Ta,29.173126
68866,PR-xLA,18.0212,-67.0769,19295,2,19QFV,2021-11-30 16:39:52,2021-11-30,2021-11-30 12:11:33.544,L3T_MET,Ta,29.358103
68875,US-Ha2,42.5393,-72.1779,19434,12,18TYN,2021-12-09 16:04:54,2021-12-09,2021-12-09 11:16:11.304,L3T_MET,Ta,-0.823181
68888,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L3T_MET,Ta,-7.958051
68897,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,Ta,-0.425873

In [4]:
sorted(set(source_df.tower))

['CA-Cbo',
 'CA-DB2',
 'PR-xGU',
 'PR-xLA',
 'US-ALQ',
 'US-CF1',
 'US-CF2',
 'US-CF3',
 'US-CF4',
 'US-CS2',
 'US-DFC',
 'US-GLE',
 'US-Ha2',
 'US-KM4',
 'US-Los',
 'US-Me6',
 'US-Mpj',
 'US-NC2',
 'US-NC3',
 'US-NC4',
 'US-NR1',
 'US-NR3',
 'US-ONA',
 'US-PFd',
 'US-PFi',
 'US-PFq',
 'US-PHM',
 'US-Ro4',
 'US-Syv',
 'US-Tw1',
 'US-Tw4',
 'US-UC1',
 'US-UC2',
 'US-UMB',
 'US-UMd',
 'US-Var',
 'US-Vcp',
 'US-WCr',
 'US-xAB',
 'US-xBL',
 'US-xDL',
 'US-xJE',
 'US-xML',
 'US-xNW',
 'US-xRM',
 'US-xST',
 'US-xTR',
 'US-xUK',
 'US-xUN',
 'US-xYE']

In [5]:
NDVI_albedo_df = source_df[source_df.apply(lambda row: "NDVI" in row.variable or "albedo" in row.variable, axis=1)]
NDVI_albedo_df = NDVI_albedo_df.pivot_table(index=["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar", "product"], columns="variable", values="med3x3").reset_index()
NDVI_albedo_df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,NDVI,NDVI-UQ,albedo,albedo-UQ
0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,L2T_STARS,0.709287,0.014854,0.057466,0.015084
1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,L2T_STARS,0.000000,0.130000,0.103276,0.129206
2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,L2T_STARS,0.000000,0.130000,0.139591,0.129390
3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,L2T_STARS,0.811021,0.020100,0.050178,0.020070
4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,L2T_STARS,0.000000,0.130000,0.119136,0.129457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,US-xUN,46.2339,-89.5373,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:51.048,L2T_STARS,0.000000,0.130000,0.000000,0.130000
932,US-xUN,46.2339,-89.5373,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:51.048,L2T_STARS,0.000000,0.130000,0.000000,0.130000
933,US-xUN,46.2339,-89.5373,11893,6,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:51.048,L2T_STARS,0.000000,0.130000,0.000000,0.130000
934,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,L2T_STARS,0.816984,0.127409,0.138165,0.129381
935,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,L2T_STARS,0.839149,0.127430,0.133559,0.129376

In [6]:
# instantaneous_df = source_df[source_df.apply(lambda row: "NDVI" not in row.variable and "albedo" not in row.variable, axis=1)]
# instantaneous_df = instantaneous_df.pivot_table(index="time_UTC", columns="variable", values="med3x3").reset_index().dropna()
# instantaneous_df

In [7]:
# instantaneous_df = source_df[source_df.apply(lambda row: "NDVI" not in row.variable and "albedo" not in row.variable, axis=1)]
instantaneous_df = source_df.copy()
instantaneous_df = instantaneous_df.pivot_table(index=["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar", "product"], columns="variable", values="med3x3").reset_index()
instantaneous_df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,...,WUE,albedo,albedo-UQ,height,radiance_1,radiance_2,radiance_3,radiance_4,radiance_5,view_zenith
0,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L1CT_RAD,...,NaN,NaN,NaN,NaN,NaN,7.343386,NaN,7.983013,7.431113,NaN
1,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L2T_LSTE,...,NaN,NaN,NaN,186.66045,NaN,NaN,NaN,NaN,NaN,25.537828
2,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L3T_JET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L3T_MET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L3T_SEB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22561,US-xYE,44.9535,-110.5391,8371,5,12TWQ,2019-12-27 17:56:12,2019-12-27,2019-12-27 10:34:02.616,L4T_WUE,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22562,US-xYE,44.9535,-110.5391,8432,7,12TWQ,2019-12-31 16:21:20,2019-12-31,2019-12-31 08:59:10.616,L1CT_RAD,...,NaN,NaN,NaN,NaN,NaN,1.869157,NaN,2.520352,2.825595,NaN
22563,US-xYE,44.9535,-110.5391,8432,7,12TWQ,2019-12-31 16:21:20,2019-12-31,2019-12-31 08:59:10.616,L2T_LSTE,...,NaN,NaN,NaN,2121.59180,NaN,NaN,NaN,NaN,NaN,23.276762
22564,US-xYE,44.9535,-110.5391,8447,4,12TWQ,2020-01-01 15:32:48,2020-01-01,2020-01-01 08:10:38.616,L1CT_RAD,...,NaN,NaN,NaN,NaN,NaN,2.845780,NaN,3.583737,3.781856,NaN
22565,US-xYE,44.9535,-110.5391,8447,4,12TWQ,2020-01-01 15:32:48,2020-01-01,2020-01-01 08:10:38.616,L2T_LSTE,...,NaN,NaN,NaN,2122.87670,NaN,NaN,NaN,NaN,NaN,11.293744

In [8]:
metadata_df = instantaneous_df.groupby(by=["tower", "time_UTC"]).first().reset_index()[["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar", "product"]]
metadata_df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product
0,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,L1CT_RAD
1,CA-Cbo,44.3167,-79.9333,5256,6,17TNK,2019-06-09 23:23:02,2019-06-09,2019-06-09 18:03:18.008,L1CT_RAD
2,CA-Cbo,44.3167,-79.9333,5268,8,17TNK,2019-06-10 17:42:04,2019-06-10,2019-06-10 12:22:20.008,L1CT_RAD
3,CA-Cbo,44.3167,-79.9333,5317,6,17TNK,2019-06-13 21:41:50,2019-06-13,2019-06-13 16:22:06.008,L1CT_RAD
4,CA-Cbo,44.3167,-79.9333,5332,7,17TNK,2019-06-14 20:52:22,2019-06-14,2019-06-14 15:32:38.008,L3T_MET
...,...,...,...,...,...,...,...,...,...,...
6673,US-xYE,44.9535,-110.5391,8279,4,12TWQ,2019-12-21 19:33:40,2019-12-21,2019-12-21 12:11:30.616,L3T_MET
6674,US-xYE,44.9535,-110.5391,8310,6,12TWQ,2019-12-23 19:33:06,2019-12-23,2019-12-23 12:10:56.616,L3T_MET
6675,US-xYE,44.9535,-110.5391,8371,5,12TWQ,2019-12-27 17:56:12,2019-12-27,2019-12-27 10:34:02.616,L1CT_RAD
6676,US-xYE,44.9535,-110.5391,8432,7,12TWQ,2019-12-31 16:21:20,2019-12-31,2019-12-31 08:59:10.616,L1CT_RAD
6677,US-xYE,44.9535,-110.5391,8447,4,12TWQ,2020-01-01 15:32:48,2020-01-01,2020-01-01 08:10:38.616,L1CT_RAD

In [9]:
df = pd.merge(left=metadata_df, right=NDVI_albedo_df, how="inner")
df = pd.merge(left=df, right=instantaneous_df, how="inner")
df = df[df.albedo != 0]
df.to_csv("calval_final_50_by_column.csv")
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,...,STICinst,Ta,WUE,height,radiance_1,radiance_2,radiance_3,radiance_4,radiance_5,view_zenith
0,US-ALQ,46.0308,-89.6067,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:34.392,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US-ALQ,46.0308,-89.6067,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:34.392,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US-ALQ,46.0308,-89.6067,11771,4,15TYM,2020-08-03 00:00:00,2020-08-03,2020-08-02 18:01:34.392,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US-ALQ,46.0308,-89.6067,11862,7,15TYM,2020-08-08 00:00:00,2020-08-08,2020-08-07 18:01:34.392,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US-ALQ,46.0308,-89.6067,11890,9,15TYM,2020-08-10 00:00:00,2020-08-10,2020-08-09 18:01:34.392,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,2021-06-22 17:39:13.896,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,2019-06-17 18:01:51.048,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,2019-10-02 18:01:51.048,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,2020-08-25 18:01:51.048,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,2020-09-03 18:01:51.048,L2T_STARS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.Ta

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
679   NaN
680   NaN
681   NaN
685   NaN
686   NaN
Name: Ta, Length: 422, dtype: float64

In [11]:
np.all(np.isnan(df.Ta))

True