In [100]:
import numpy as np
import pandas as pd
from datetime import timedelta
from dateutil import parser

In [101]:
source_df = pd.read_csv("calval_final_50.csv")
source_df.drop(columns=["Unnamed: 0"], inplace=True)
source_df.insert(5, "date_UTC", source_df.time_UTC.apply(lambda time_UTC: parser.parse(str(time_UTC)).date()), allow_duplicates=True)
source_df.insert(6, "time_solar", source_df.apply(lambda row: parser.parse(str(row.time_UTC)) + timedelta(hours=(np.radians(row.lon) / np.pi * 12)), axis=1), allow_duplicates=True)
source_df = source_df[["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar", "product", "variable", "med3x3"]]
source_df

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,variable,med3x3
0,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_1,5.028204
1,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_2,5.390165
2,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_3,5.390238
3,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_4,6.068446
4,US-Mpj,34.4385,-106.2377,3190,4,13SCU,2019-01-27 23:32:30,2019-01-27,2019-01-27 16:27:32.952,L1CT_RAD,radiance_5,5.829097
...,...,...,...,...,...,...,...,...,...,...,...,...
68894,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L4T_WUE,GPP,2.777341
68895,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L4T_WUE,WUE,0.000000
68896,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,RH,0.957962
68897,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,Ta,-0.425873
68898,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_SM,SM,0.273294

In [102]:
source_df[source_df.variable == "NDVI"]

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,variable,med3x3
30176,US-WCr,45.8059,-90.0799,3251,9,15TYL,2019-01-31 00:00:00,2019-01-31,2019-01-30 17:59:40.824,L2T_STARS,NDVI,0.000000
30180,US-xST,45.5089,-89.5864,3251,9,15TYL,2019-01-31 00:00:00,2019-01-31,2019-01-30 18:01:39.264,L2T_STARS,NDVI,0.000000
30184,US-xTR,45.4937,-89.5857,3251,9,15TYL,2019-01-31 00:00:00,2019-01-31,2019-01-30 18:01:39.432,L2T_STARS,NDVI,0.000000
30188,US-PFi,45.9749,-90.2327,3251,9,15TYL,2019-01-31 00:00:00,2019-01-31,2019-01-30 17:59:04.152,L2T_STARS,NDVI,0.000000
30192,US-PFq,45.9271,-90.2475,3251,9,15TYL,2019-01-31 00:00:00,2019-01-31,2019-01-30 17:59:00.600,L2T_STARS,NDVI,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
33900,US-Ha2,42.5393,-72.1779,19495,13,18TYN,2021-12-13 00:00:00,2021-12-13,2021-12-12 19:11:17.304,L2T_STARS,NDVI,0.761891
33904,US-Ha2,42.5393,-72.1779,19556,9,18TYN,2021-12-17 00:00:00,2021-12-17,2021-12-16 19:11:17.304,L2T_STARS,NDVI,0.651952
33908,US-Ha2,42.5393,-72.1779,19559,12,18TYN,2021-12-17 00:00:00,2021-12-17,2021-12-16 19:11:17.304,L2T_STARS,NDVI,0.651952
33912,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 00:00:00,2021-12-20,2021-12-19 19:11:17.304,L2T_STARS,NDVI,0.643522
33916,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 00:00:00,2021-12-21,2021-12-20 19:11:17.304,L2T_STARS,NDVI,0.645591

In [103]:
source_df[source_df.variable == "Ta"]

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,product,variable,med3x3
38151,US-ONA,27.3836,-81.9509,3219,6,17RML,2019-01-29 20:15:41,2019-01-29,2019-01-29 14:47:52.784,L3T_MET,Ta,19.268005
38153,US-ONA,27.3836,-81.9509,3219,7,17RML,2019-01-29 20:16:33,2019-01-29,2019-01-29 14:48:44.784,L3T_MET,Ta,18.898642
38173,US-Mpj,34.4385,-106.2377,3251,4,13SCU,2019-01-31 21:43:42,2019-01-31,2019-01-31 14:38:44.952,L3T_MET,Ta,8.740243
38192,US-GLE,41.3665,-106.2399,3282,6,13TCF,2019-02-02 21:38:27,2019-02-02,2019-02-02 14:33:29.424,L3T_MET,Ta,0.863129
38211,US-GLE,41.3665,-106.2399,3389,6,13TCF,2019-02-09 18:52:06,2019-02-09,2019-02-09 11:47:08.424,L3T_MET,Ta,-2.147646
...,...,...,...,...,...,...,...,...,...,...,...,...
68853,PR-xLA,18.0212,-67.0769,19234,7,19QFV,2021-11-26 18:11:39,2021-11-26,2021-11-26 13:43:20.544,L3T_MET,Ta,29.173126
68866,PR-xLA,18.0212,-67.0769,19295,2,19QFV,2021-11-30 16:39:52,2021-11-30,2021-11-30 12:11:33.544,L3T_MET,Ta,29.358103
68875,US-Ha2,42.5393,-72.1779,19434,12,18TYN,2021-12-09 16:04:54,2021-12-09,2021-12-09 11:16:11.304,L3T_MET,Ta,-0.823181
68888,US-Ha2,42.5393,-72.1779,19605,12,18TYN,2021-12-20 17:05:33,2021-12-20,2021-12-20 12:16:50.304,L3T_MET,Ta,-7.958051
68897,US-Ha2,42.5393,-72.1779,19620,13,18TYN,2021-12-21 16:18:05,2021-12-21,2021-12-21 11:29:22.304,L3T_MET,Ta,-0.425873

In [104]:
df = source_df.pivot_table(index=["tower", "lat", "lon", "orbit", "scene", "tile", "time_UTC", "date_UTC", "time_solar"], columns="variable", values="med3x3").reset_index()
df["year"] = df.time_solar.apply(lambda t: t.year)
df["Ta_C"] = df.Ta
df["ST_K"] = df.LST
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,height,radiance_1,radiance_2,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K
0,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,150.069210,...,186.66045,NaN,7.343386,NaN,7.983013,7.431113,25.537828,2019,11.983156,290.20
1,CA-Cbo,44.3167,-79.9333,5256,6,17TNK,2019-06-09 23:23:02,2019-06-09,2019-06-09 18:03:18.008,NaN,...,NaN,NaN,3.508792,NaN,4.082384,4.076593,NaN,2019,NaN,NaN
2,CA-Cbo,44.3167,-79.9333,5268,8,17TNK,2019-06-10 17:42:04,2019-06-10,2019-06-10 12:22:20.008,NaN,...,NaN,NaN,3.389169,NaN,4.146316,4.265207,NaN,2019,NaN,NaN
3,CA-Cbo,44.3167,-79.9333,5317,6,17TNK,2019-06-13 21:41:50,2019-06-13,2019-06-13 16:22:06.008,NaN,...,NaN,NaN,3.080041,NaN,3.708966,3.614696,NaN,2019,NaN,NaN
4,CA-Cbo,44.3167,-79.9333,5332,7,17TNK,2019-06-14 20:52:22,2019-06-14,2019-06-14 15:32:38.008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,18.637817,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7054,US-xYE,44.9535,-110.5391,8279,4,12TWQ,2019-12-21 19:33:40,2019-12-21,2019-12-21 12:11:30.616,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,-4.135284,NaN
7055,US-xYE,44.9535,-110.5391,8310,6,12TWQ,2019-12-23 19:33:06,2019-12-23,2019-12-23 12:10:56.616,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,-4.774719,NaN
7056,US-xYE,44.9535,-110.5391,8371,5,12TWQ,2019-12-27 17:56:12,2019-12-27,2019-12-27 10:34:02.616,24.526987,...,2123.38480,NaN,3.831424,NaN,4.597809,4.658908,25.272470,2019,-13.313562,259.74
7057,US-xYE,44.9535,-110.5391,8432,7,12TWQ,2019-12-31 16:21:20,2019-12-31,2019-12-31 08:59:10.616,NaN,...,2121.59180,NaN,1.869157,NaN,2.520352,2.825595,23.276762,2019,NaN,232.00
7058,US-xYE,44.9535,-110.5391,8447,4,12TWQ,2020-01-01 15:32:48,2020-01-01,2020-01-01 08:10:38.616,NaN,...,2122.87670,NaN,2.845780,NaN,3.583737,3.781856,11.293744,2020,NaN,248.12

In [105]:
NDVI_albedo_df = df[["tower", "date_UTC", "NDVI", "albedo"]].dropna()
NDVI_albedo_df

variable   tower    date_UTC      NDVI    albedo
281       US-ALQ  2019-06-18  0.709287  0.057466
326       US-ALQ  2019-10-03  0.000000  0.103276
425       US-ALQ  2020-08-03  0.000000  0.139591
432       US-ALQ  2020-08-08  0.811021  0.050178
434       US-ALQ  2020-08-10  0.000000  0.119136
...          ...         ...       ...       ...
6959      US-xUN  2020-08-08  0.000000  0.000000
6961      US-xUN  2020-08-10  0.000000  0.000000
6963      US-xUN  2020-08-10  0.000000  0.000000
6974      US-xUN  2020-08-26  0.816984  0.138165
6980      US-xUN  2020-09-04  0.839149  0.133559

[936 rows x 4 columns]

In [106]:
df = df.drop(["NDVI", "albedo"], axis=1)
df = pd.merge(df, NDVI_albedo_df, how="left", on=["tower", "date_UTC"])
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,radiance_2,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo
0,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,150.069210,...,7.343386,NaN,7.983013,7.431113,25.537828,2019,11.983156,290.20,NaN,NaN
1,CA-Cbo,44.3167,-79.9333,5256,6,17TNK,2019-06-09 23:23:02,2019-06-09,2019-06-09 18:03:18.008,NaN,...,3.508792,NaN,4.082384,4.076593,NaN,2019,NaN,NaN,NaN,NaN
2,CA-Cbo,44.3167,-79.9333,5268,8,17TNK,2019-06-10 17:42:04,2019-06-10,2019-06-10 12:22:20.008,NaN,...,3.389169,NaN,4.146316,4.265207,NaN,2019,NaN,NaN,NaN,NaN
3,CA-Cbo,44.3167,-79.9333,5317,6,17TNK,2019-06-13 21:41:50,2019-06-13,2019-06-13 16:22:06.008,NaN,...,3.080041,NaN,3.708966,3.614696,NaN,2019,NaN,NaN,NaN,NaN
4,CA-Cbo,44.3167,-79.9333,5332,7,17TNK,2019-06-14 20:52:22,2019-06-14,2019-06-14 15:32:38.008,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,18.637817,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8248,US-xYE,44.9535,-110.5391,8279,4,12TWQ,2019-12-21 19:33:40,2019-12-21,2019-12-21 12:11:30.616,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,-4.135284,NaN,NaN,NaN
8249,US-xYE,44.9535,-110.5391,8310,6,12TWQ,2019-12-23 19:33:06,2019-12-23,2019-12-23 12:10:56.616,NaN,...,NaN,NaN,NaN,NaN,NaN,2019,-4.774719,NaN,NaN,NaN
8250,US-xYE,44.9535,-110.5391,8371,5,12TWQ,2019-12-27 17:56:12,2019-12-27,2019-12-27 10:34:02.616,24.526987,...,3.831424,NaN,4.597809,4.658908,25.272470,2019,-13.313562,259.74,NaN,NaN
8251,US-xYE,44.9535,-110.5391,8432,7,12TWQ,2019-12-31 16:21:20,2019-12-31,2019-12-31 08:59:10.616,NaN,...,1.869157,NaN,2.520352,2.825595,23.276762,2019,NaN,232.00,NaN,NaN
8252,US-xYE,44.9535,-110.5391,8447,4,12TWQ,2020-01-01 15:32:48,2020-01-01,2020-01-01 08:10:38.616,NaN,...,2.845780,NaN,3.583737,3.781856,11.293744,2020,NaN,248.12,NaN,NaN

In [107]:
df["ST_C"] = df.ST_K - 273.15
df = df[~np.isnan(df.ST_C)]
df = df[df.ST_C > 0]
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
0,CA-Cbo,44.3167,-79.9333,5146,8,17TNK,2019-06-02 21:04:40,2019-06-02,2019-06-02 15:44:56.008,150.069210,...,NaN,7.983013,7.431113,25.537828,2019,11.983156,290.20,NaN,NaN,17.05
5,CA-Cbo,44.3167,-79.9333,5363,8,17TNK,2019-06-16 20:49:49,2019-06-16,2019-06-16 15:30:05.008,NaN,...,NaN,8.029793,7.335369,28.253313,2019,NaN,290.68,NaN,NaN,17.53
14,CA-Cbo,44.3167,-79.9333,5668,6,17TNK,2019-07-06 12:23:48,2019-07-06,2019-07-06 07:04:04.008,75.709274,...,NaN,8.452261,7.484612,25.458350,2019,20.087358,297.00,NaN,NaN,23.85
17,CA-Cbo,44.3167,-79.9333,6016,8,17TNK,2019-07-28 22:18:25,2019-07-28,2019-07-28 16:58:41.008,208.288390,...,NaN,8.889587,7.988988,19.374052,2019,25.570910,297.76,NaN,NaN,24.61
18,CA-Cbo,44.3167,-79.9333,6062,8,17TNK,2019-07-31 21:26:49,2019-07-31,2019-07-31 16:07:05.008,240.279040,...,NaN,8.648879,7.903957,9.272578,2019,21.647217,294.82,NaN,NaN,21.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8222,US-xYE,44.9535,-110.5391,6555,1,12TWQ,2019-09-01 16:12:17,2019-09-01,2019-09-01 08:50:07.616,202.656100,...,NaN,7.953118,7.438097,17.316767,2019,16.679014,290.00,NaN,NaN,16.85
8223,US-xYE,44.9535,-110.5391,6570,2,12TWQ,2019-09-02 15:22:45,2019-09-02,2019-09-02 08:00:35.616,150.991410,...,NaN,8.010239,7.398712,17.875809,2019,14.175092,289.70,NaN,NaN,16.55
8224,US-xYE,44.9535,-110.5391,6616,1,12TWQ,2019-09-05 14:34:00,2019-09-05,2019-09-05 07:11:50.616,NaN,...,NaN,7.380465,6.872373,10.641276,2019,NaN,284.38,NaN,NaN,11.23
8228,US-xYE,44.9535,-110.5391,7101,4,12TWQ,2019-10-06 20:41:16,2019-10-06,2019-10-06 13:19:06.616,165.103150,...,NaN,6.995680,6.585545,23.090511,2019,5.145237,281.78,NaN,NaN,8.63
8231,US-xYE,44.9535,-110.5391,7257,2,12TWQ,2019-10-16 22:17:52,2019-10-16,2019-10-16 14:55:42.616,103.221000,...,NaN,6.812531,6.442875,18.664412,2019,9.223324,279.56,NaN,NaN,6.41

In [108]:
df = df[~np.isnan(df.NDVI)]
df = df[df.NDVI > 0]
df = df[df.NDVI < 1]
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
1145,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:08,2020-02-22,2020-02-22 12:02:25.304,112.87177,...,NaN,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89
1165,US-Ha2,42.5393,-72.1779,9952,9,18TYN,2020-04-07 17:18:02,2020-04-07,2020-04-07 12:29:19.304,168.99136,...,NaN,7.842263,7.267510,3.740731,2020,9.952682,288.72,0.611456,0.000000,15.57
1175,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 11:54:42,2020-04-20,2020-04-20 07:05:59.304,0.00000,...,NaN,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39
1181,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 12:53:46,2020-05-03,2020-05-03 08:05:03.304,40.53043,...,NaN,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17
1189,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 22:33:49,2020-05-24,2020-05-24 17:45:06.304,NaN,...,NaN,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7858,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 23:08:31,2020-08-11,2020-08-11 16:47:44.896,1000.00000,...,NaN,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43
7953,US-xUK,39.0404,-95.1921,16672,8,15SUD,2021-06-14 21:57:32,2021-06-14,2021-06-14 15:36:45.896,NaN,...,NaN,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77
7959,US-xUK,39.0404,-95.1921,16806,4,15SUD,2021-06-23 11:33:16,2021-06-23,2021-06-23 05:12:29.896,NaN,...,NaN,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11
7961,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 18:03:45,2021-06-23,2021-06-23 11:42:58.896,658.23425,...,NaN,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71
8175,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:29,2020-09-04,2020-09-04 06:11:20.048,NaN,...,NaN,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47

In [109]:
df = df[~np.isnan(df.albedo)]
df = df[df.albedo > 0]
df = df[df.albedo < 1]
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
1145,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:08,2020-02-22,2020-02-22 12:02:25.304,112.87177,...,NaN,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89
1175,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 11:54:42,2020-04-20,2020-04-20 07:05:59.304,0.00000,...,NaN,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39
1181,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 12:53:46,2020-05-03,2020-05-03 08:05:03.304,40.53043,...,NaN,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17
1189,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 22:33:49,2020-05-24,2020-05-24 17:45:06.304,NaN,...,NaN,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61
1201,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 18:47:51,2020-06-18,2020-06-18 13:59:08.304,300.98196,...,NaN,9.197556,8.165065,19.196161,2020,26.243547,301.18,0.900291,0.115091,28.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7858,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 23:08:31,2020-08-11,2020-08-11 16:47:44.896,1000.00000,...,NaN,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43
7953,US-xUK,39.0404,-95.1921,16672,8,15SUD,2021-06-14 21:57:32,2021-06-14,2021-06-14 15:36:45.896,NaN,...,NaN,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77
7959,US-xUK,39.0404,-95.1921,16806,4,15SUD,2021-06-23 11:33:16,2021-06-23,2021-06-23 05:12:29.896,NaN,...,NaN,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11
7961,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 18:03:45,2021-06-23,2021-06-23 11:42:58.896,658.23425,...,NaN,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71
8175,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:29,2020-09-04,2020-09-04 06:11:20.048,NaN,...,NaN,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47

In [110]:
df[["ST_C", "NDVI","albedo", "Ta_C"]]

variable   ST_C      NDVI    albedo       Ta_C
1145       0.89  0.716345  0.027717  -2.512519
1175      35.39  0.708288  0.036438   4.822851
1181      13.17  0.737977  0.077051  11.629330
1189      15.61  0.814637  0.081791        NaN
1201      28.03  0.900291  0.115091  26.243547
...         ...       ...       ...        ...
7858      26.43  0.761881  0.162858  29.102583
7953      22.77  0.887983  0.099464        NaN
7959      17.11  0.869637  0.107731        NaN
7961      30.71  0.869637  0.107731  28.485040
8175       6.47  0.839149  0.133559        NaN

[286 rows x 4 columns]

In [111]:
df.to_csv("calval_final_50_by_column.csv")
df

variable,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,BESSinst,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
1145,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 16:51:08,2020-02-22,2020-02-22 12:02:25.304,112.87177,...,NaN,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89
1175,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 11:54:42,2020-04-20,2020-04-20 07:05:59.304,0.00000,...,NaN,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39
1181,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 12:53:46,2020-05-03,2020-05-03 08:05:03.304,40.53043,...,NaN,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17
1189,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 22:33:49,2020-05-24,2020-05-24 17:45:06.304,NaN,...,NaN,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61
1201,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 18:47:51,2020-06-18,2020-06-18 13:59:08.304,300.98196,...,NaN,9.197556,8.165065,19.196161,2020,26.243547,301.18,0.900291,0.115091,28.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7858,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 23:08:31,2020-08-11,2020-08-11 16:47:44.896,1000.00000,...,NaN,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43
7953,US-xUK,39.0404,-95.1921,16672,8,15SUD,2021-06-14 21:57:32,2021-06-14,2021-06-14 15:36:45.896,NaN,...,NaN,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77
7959,US-xUK,39.0404,-95.1921,16806,4,15SUD,2021-06-23 11:33:16,2021-06-23,2021-06-23 05:12:29.896,NaN,...,NaN,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11
7961,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 18:03:45,2021-06-23,2021-06-23 11:42:58.896,658.23425,...,NaN,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71
8175,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 12:09:29,2020-09-04,2020-09-04 06:11:20.048,NaN,...,NaN,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47