In [1]:
import numpy as np
import pandas as pd
from dateutil import parser
from FLiES_sensitivity import process_FLiES_table

In [2]:
FLiES_inputs_df = pd.read_csv("calval_final_50_FLiES_inputs.csv")
FLiES_inputs_df = FLiES_inputs_df[['tower', 'lat', 'lon', 'orbit', 'scene', 'tile', 'time_UTC', 'date_UTC', 'doy', 'time_solar', "AOT", "COT", "vapor_gccm", "ozone_cm", "SZA", "KG"]]
FLiES_inputs_df = FLiES_inputs_df.dropna()
FLiES_inputs_df

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,doy,time_solar,AOT,COT,vapor_gccm,ozone_cm,SZA,KG
6,US-Ha2,42.5393,-72.1779,9147,9,18TYN,2020-02-15 00:00:00,2020-02-15,46,2020-02-14 19:11:17.304,0.049862,0.000000,0.154628,0.404610,112.019084,4.0
7,US-Ha2,42.5393,-72.1779,9159,9,18TYN,2020-02-16 00:00:00,2020-02-16,47,2020-02-15 19:11:17.304,0.091499,0.404815,0.316206,0.317324,111.796665,4.0
8,US-Ha2,42.5393,-72.1779,9208,8,18TYN,2020-02-19 00:00:00,2020-02-19,50,2020-02-18 19:11:17.304,0.214064,109.499557,1.904546,0.343530,111.113068,4.0
9,US-Ha2,42.5393,-72.1779,9220,7,18TYN,2020-02-20 00:00:00,2020-02-20,51,2020-02-19 19:11:17.304,0.054730,-0.011130,0.332091,0.357612,110.879996,4.0
10,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 00:00:00,2020-02-22,53,2020-02-21 19:11:17.304,0.088195,-0.003143,0.418212,0.371734,110.406482,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,0.109902,0.010211,2.556485,0.321885,71.627640,4.0
418,US-xUN,46.2339,-89.5373,5391,8,15TYM,2019-06-18 00:00:00,2019-06-18,169,2019-06-17 18:01:51.048,0.136013,157.238358,2.565592,0.347684,73.660986,4.0
419,US-xUN,46.2339,-89.5373,7055,8,15TYM,2019-10-03 00:00:00,2019-10-03,276,2019-10-02 18:01:51.048,0.148899,61.517994,2.232357,0.245566,92.669251,4.0
420,US-xUN,46.2339,-89.5373,12137,6,15TYM,2020-08-26 00:00:00,2020-08-26,239,2020-08-25 18:01:51.048,0.659085,11.544897,2.780532,0.274202,82.618719,4.0
421,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,248,2020-09-03 18:01:51.048,0.045513,28.339823,1.240811,0.333310,84.924138,4.0

In [3]:
FLiES_inputs_df.date_UTC = FLiES_inputs_df.date_UTC.apply(lambda d: parser.parse(d).strftime("%Y-%m-%d"))
FLiES_inputs_df.date_UTC

6      2020-02-15
7      2020-02-16
8      2020-02-19
9      2020-02-20
10     2020-02-22
          ...
417    2021-06-23
418    2019-06-18
419    2019-10-03
420    2020-08-26
421    2020-09-04
Name: date_UTC, Length: 362, dtype: object

In [4]:
calval_final_50 = pd.read_csv("calval_final_50_by_column.csv")
calval_final_50

,Unnamed: 0,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,time_solar,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
0,1145,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2/22/20 16:51,2/22/20,02:25.3,...,NaN,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89
1,1175,US-Ha2,42.5393,-72.1779,10150,9,18TYN,4/20/20 11:54,4/20/20,05:59.3,...,NaN,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39
2,1181,US-Ha2,42.5393,-72.1779,10352,9,18TYN,5/3/20 12:53,5/3/20,05:03.3,...,NaN,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17
3,1189,US-Ha2,42.5393,-72.1779,10684,7,18TYN,5/24/20 22:33,5/24/20,45:06.3,...,NaN,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61
4,1201,US-Ha2,42.5393,-72.1779,11069,8,18TYN,6/18/20 18:47,6/18/20,59:08.3,...,NaN,9.197556,8.165065,19.196161,2020,26.243547,301.18,0.900291,0.115091,28.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,7858,US-xUK,39.0404,-95.1921,11909,6,15SUD,8/11/20 23:08,8/11/20,47:44.9,...,NaN,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43
282,7953,US-xUK,39.0404,-95.1921,16672,8,15SUD,6/14/21 21:57,6/14/21,36:45.9,...,NaN,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77
283,7959,US-xUK,39.0404,-95.1921,16806,4,15SUD,6/23/21 11:33,6/23/21,12:29.9,...,NaN,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11
284,7961,US-xUK,39.0404,-95.1921,16810,8,15SUD,6/23/21 18:03,6/23/21,42:58.9,...,NaN,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71
285,8175,US-xUN,46.2339,-89.5373,12274,4,15TYM,9/4/20 12:09,9/4/20,11:20.0,...,NaN,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47

In [5]:
calval_final_50.columns

Index(['Unnamed: 0', 'tower', 'lat', 'lon', 'orbit', 'scene', 'tile',
       'time_UTC', 'date_UTC', 'time_solar', 'BESSinst', 'ESI', 'ESIdaily',
       'ESIdailyUncertainty', 'ETdaily', 'ETdailyUncertainty',
       'ETinstUncertainty', 'EmisWB', 'GPP', 'LST', 'LST_err', 'MOD16inst',
       'NDVI-UQ', 'PET', 'PTJPLSMcanopy', 'PTJPLSMinst', 'PTJPLSMinterception',
       'PTJPLSMsoil', 'RH', 'Rg', 'Rn', 'SM', 'STICcanopy', 'STICinst', 'Ta',
       'WUE', 'albedo-UQ', 'height', 'radiance_1', 'radiance_2', 'radiance_3',
       'radiance_4', 'radiance_5', 'view_zenith', 'year', 'Ta_C', 'ST_K',
       'NDVI', 'albedo', 'ST_C'],
      dtype='object')

In [6]:
tower_locations = calval_final_50[["tower", "lat", "lon"]].groupby("tower").first().reset_index()
tower_locations.to_csv("tower_locations.csv", index=False)
tower_locations

     tower      lat       lon
0   US-Ha2  42.5393  -72.1779
1   US-NR1  40.0329 -105.5464
2   US-PFd  45.9689  -90.3010
3   US-PFi  45.9749  -90.2327
4   US-PFq  45.9271  -90.2475
5   US-Syv  46.2420  -89.3477
6   US-WCr  45.8059  -90.0799
7   US-xAB  45.7624 -122.3303
8   US-xDL  32.5417  -87.8039
9   US-xJE  31.1948  -84.4686
10  US-xNW  40.0543 -105.5824
11  US-xRM  40.2759 -105.5459
12  US-xST  45.5089  -89.5864
13  US-xTR  45.4937  -89.5857
14  US-xUK  39.0404  -95.1921
15  US-xUN  46.2339  -89.5373

In [7]:
elevation = pd.read_csv("tower_elevation.csv")
elevation["elevation_km"] = elevation.elevation_m / 1000
elevation = elevation[["tower", "elevation_km"]]
elevation

     tower  elevation_km
0   US-Ha2         0.058
1   US-NR1         0.036
2   US-PFd         0.330
3   US-PFi         3.058
4   US-PFq         3.493
5   US-Syv         2.750
6   US-WCr         0.373
7   US-xAB         0.475
8   US-xDL         0.478
9   US-xJE         0.390
10  US-xNW         0.526
11  US-xRM         0.472
12  US-xST         0.465
13  US-xTR         0.484
14  US-xUK         0.529
15  US-xUN         0.548

In [8]:
calval_final_50.date_UTC = calval_final_50.date_UTC.apply(lambda d: parser.parse(d).strftime("%Y-%m-%d"))
calval_final_50.date_UTC

0      2020-02-22
1      2020-04-20
2      2020-05-03
3      2020-05-24
4      2020-06-18
          ...
281    2020-08-11
282    2021-06-14
283    2021-06-23
284    2021-06-23
285    2020-09-04
Name: date_UTC, Length: 286, dtype: object

In [9]:
FLiES_inputs_df.columns

Index(['tower', 'lat', 'lon', 'orbit', 'scene', 'tile', 'time_UTC', 'date_UTC',
       'doy', 'time_solar', 'AOT', 'COT', 'vapor_gccm', 'ozone_cm', 'SZA',
       'KG'],
      dtype='object')

In [10]:
df = pd.merge(FLiES_inputs_df, calval_final_50, how="inner", on=["tower", "date_UTC"], suffixes=["","_Y"])
df

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,doy,time_solar,...,radiance_3,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C
0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 00:00:00,2020-02-22,53,2020-02-21 19:11:17.304,...,NaN,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89
1,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 00:00:00,2020-04-20,111,2020-04-19 19:11:17.304,...,NaN,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39
2,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 00:00:00,2020-05-03,124,2020-05-02 19:11:17.304,...,NaN,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17
3,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 00:00:00,2020-05-24,145,2020-05-23 19:11:17.304,...,NaN,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61
4,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 00:00:00,2020-06-18,170,2020-06-17 19:11:17.304,...,NaN,9.197556,8.165065,19.196161,2020,26.243547,301.18,0.900291,0.115091,28.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 00:00:00,2020-08-11,224,2020-08-10 17:39:13.896,...,NaN,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43
248,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14 00:00:00,2021-06-14,165,2021-06-13 17:39:13.896,...,NaN,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77
249,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,NaN,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11
250,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,NaN,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71
251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,248,2020-09-03 18:01:51.048,...,NaN,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47

In [11]:
df.columns

Index(['tower', 'lat', 'lon', 'orbit', 'scene', 'tile', 'time_UTC', 'date_UTC',
       'doy', 'time_solar', 'AOT', 'COT', 'vapor_gccm', 'ozone_cm', 'SZA',
       'KG', 'Unnamed: 0', 'lat_Y', 'lon_Y', 'orbit_Y', 'scene_Y', 'tile_Y',
       'time_UTC_Y', 'time_solar_Y', 'BESSinst', 'ESI', 'ESIdaily',
       'ESIdailyUncertainty', 'ETdaily', 'ETdailyUncertainty',
       'ETinstUncertainty', 'EmisWB', 'GPP', 'LST', 'LST_err', 'MOD16inst',
       'NDVI-UQ', 'PET', 'PTJPLSMcanopy', 'PTJPLSMinst', 'PTJPLSMinterception',
       'PTJPLSMsoil', 'RH', 'Rg', 'Rn', 'SM', 'STICcanopy', 'STICinst', 'Ta',
       'WUE', 'albedo-UQ', 'height', 'radiance_1', 'radiance_2', 'radiance_3',
       'radiance_4', 'radiance_5', 'view_zenith', 'year', 'Ta_C', 'ST_K',
       'NDVI', 'albedo', 'ST_C'],
      dtype='object')

In [12]:
df = pd.merge(df, elevation, how="left", on="tower")
df

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,doy,time_solar,...,radiance_4,radiance_5,view_zenith,year,Ta_C,ST_K,NDVI,albedo,ST_C,elevation_km
0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 00:00:00,2020-02-22,53,2020-02-21 19:11:17.304,...,6.127349,5.904457,6.195390,2020,-2.512519,274.04,0.716345,0.027717,0.89,0.058
1,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 00:00:00,2020-04-20,111,2020-04-19 19:11:17.304,...,9.864844,9.096849,28.344906,2020,4.822851,308.54,0.708288,0.036438,35.39,0.058
2,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 00:00:00,2020-05-03,124,2020-05-02 19:11:17.304,...,7.458189,6.885617,1.162046,2020,11.629330,286.32,0.737977,0.077051,13.17,0.058
3,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 00:00:00,2020-05-24,145,2020-05-23 19:11:17.304,...,7.833443,7.216064,2.533978,2020,NaN,288.76,0.814637,0.081791,15.61,0.058
4,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 00:00:00,2020-06-18,170,2020-06-17 19:11:17.304,...,9.197556,8.165065,19.196161,2020,26.243547,301.18,0.900291,0.115091,28.03,0.058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 00:00:00,2020-08-11,224,2020-08-10 17:39:13.896,...,9.024070,7.999105,1.261138,2020,29.102583,299.58,0.761881,0.162858,26.43,0.529
248,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14 00:00:00,2021-06-14,165,2021-06-13 17:39:13.896,...,8.727467,7.639165,25.181248,2021,NaN,295.92,0.887983,0.099464,22.77,0.529
249,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,8.133173,7.451433,9.222123,2021,NaN,290.26,0.869637,0.107731,17.11,0.529
250,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,9.391277,8.138378,18.660900,2021,28.485040,303.86,0.869637,0.107731,30.71,0.529
251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,248,2020-09-03 18:01:51.048,...,6.790765,6.453102,16.984950,2020,NaN,279.62,0.839149,0.133559,6.47,0.548

In [13]:
df.to_csv("calval_final_50_FLiES_inputs_clean.csv", index=False)

In [14]:
FLiES_outputs_df = process_FLiES_table(df)
FLiES_outputs_df.to_csv("calval_final_50_FLiES_outputs_baseline.csv")
FLiES_outputs_df

8/8 [==============================] - 0s 389us/step

2024-01-09 22:11:06.847127: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

,tower,lat,lon,orbit,scene,tile,time_UTC,date_UTC,doy,time_solar,...,ST_C,elevation_km,Ra,UV,VIS,NIR,VISdiff,NIRdiff,VISdir,NIRdir
0,US-Ha2,42.5393,-72.1779,9254,9,18TYN,2020-02-22 00:00:00,2020-02-22,53,2020-02-21 19:11:17.304,...,0.89,0.058,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,US-Ha2,42.5393,-72.1779,10150,9,18TYN,2020-04-20 00:00:00,2020-04-20,111,2020-04-19 19:11:17.304,...,35.39,0.058,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,US-Ha2,42.5393,-72.1779,10352,9,18TYN,2020-05-03 00:00:00,2020-05-03,124,2020-05-02 19:11:17.304,...,13.17,0.058,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,US-Ha2,42.5393,-72.1779,10684,7,18TYN,2020-05-24 00:00:00,2020-05-24,145,2020-05-23 19:11:17.304,...,15.61,0.058,35.081859,0.725524,4.795828,5.344563,4.196244,2.484195,0.599583,2.860368
4,US-Ha2,42.5393,-72.1779,11069,8,18TYN,2020-06-18 00:00:00,2020-06-18,170,2020-06-17 19:11:17.304,...,28.03,0.058,79.432091,1.903827,12.453282,13.738752,9.541720,7.704182,2.911562,6.034570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,US-xUK,39.0404,-95.1921,11909,6,15SUD,2020-08-11 00:00:00,2020-08-11,224,2020-08-10 17:39:13.896,...,26.43,0.529,307.048509,6.038792,38.522577,30.587564,31.863296,30.587299,6.659281,0.000264
248,US-xUK,39.0404,-95.1921,16668,8,15SUD,2021-06-14 00:00:00,2021-06-14,165,2021-06-13 17:39:13.896,...,22.77,0.529,403.617014,14.427882,107.903802,118.587837,33.583279,4.206582,74.320523,114.381256
249,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,17.11,0.529,406.616093,14.567345,108.752655,117.933176,36.231944,5.415474,72.520711,112.517702
250,US-xUK,39.0404,-95.1921,16810,8,15SUD,2021-06-23 00:00:00,2021-06-23,174,2021-06-22 17:39:13.896,...,30.71,0.529,406.616093,14.567345,108.752655,117.933176,36.231944,5.415474,72.520711,112.517702
251,US-xUN,46.2339,-89.5373,12274,4,15TYM,2020-09-04 00:00:00,2020-09-04,248,2020-09-03 18:01:51.048,...,6.47,0.548,116.319866,1.153736,7.020408,5.521951,6.423650,5.521911,0.596758,0.000040